* {
    font-family: "Calibri", serif;
}
a {
    color: #0074A2;
}
.bar {
    border: medium solid red;
}
.bar b {
    color: #FF3399;
}
a:hover {
    color: #003300;
}
.bold {
    font-weight: 900;
}
.italic {
    font-style:italic;
}
.underlined {
    text-decoration: underline;
}
